<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thêm mới</title>
  </head>
  <body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label for="name">Name</label>
      <input type="text" name="name" />
      <label for="price">Price</label>
      <input type="number" name="price" />
      <label for="img">Image</label>
      <input type="file" name="img" />
      <input type="submit" value="Save" />
    </form>
  </body>
</html>
